# Thêm tên cần dịch cố định vào đây theo định dạng Trung=Việt, ví dụ:
# 轩辕=Hiên Viên
苏易=Tô Dịch
陈雅=Trần Nhã
姬凤仙=Cơ Phụng Tiên
秦武=Tần Vũ
林霜=Lâm Sương
谢如兰=Tạ Như Lan
迪克=Dick
离恨烟=Ly Hận Yên
沧流箭=Thương Lưu Tiễn
离恨楼=Ly Hận Lâu
柳媚儿=Liễu Mị Nhi
萧婉蓉=Tiêu Uyển Dung
婉蓉=Uyển Dung
魏雪姻=Ngụy Tuyết Nhân
智酱=Tomo-chan
朱美=Akemi
仪玄=Yi Xuan
林柔=Lâm Nhu
夏侯荻=Hạ Hầu Địch
薛牧=Tiết Mục
薛清秋=Tiết Thanh Thu
岳小婵=Nhạc Tiểu Thiền
张梦兰=Trương Mộng Lan
刘婉兮=Lưu Uyển Hỉ
德川喇嘛=Tokugawa Lama
慕剑璃=Mộ Kiếm Ly
吉田靼鸡=Yoshida Tatsukei
萧轻芜=Tiêu Khinh Vũ
祝辰瑶=Chúc Thần Dao
德川羁霸=Tokugawa Kihaku
白夜莺=Bạch Dạ Oanh

孙雪莹=Tôn Tuyết Oánh
林雨欣=Lâm Vũ Hân
孙浩=Tôn Hạo
浩浩=Hạo Hạo
李婉宁=Lý Uyển Ninh
聂英楠=Nhiếp Anh Nam
红木=Hồng Mộc
孟秀兰=Mạnh Tú Lan
秦雅萱=Tần Nhã Huyên
李三通=Lý Tam Thông
柳艳=Liễu Diễm
秦雅卿=Tần Nhã Khanh
上官安妮=Thượng Quan An Ny
秦潇儿=Tần Tiêu Nhi
梦璃儿=Mộng Ly Nhi
肖风=Tiêu Phong
依依=Y Y
林娇霜=Lâm Kiều Sương
吴金贵=Ngô Kim Quý
苏凌薇=Tô Lăng Vi
大栓=Đại Xuyên