# Thêm tên cần dịch cố định vào đây theo định dạng Trung=Việt, ví dụ:
# 轩辕=Hiên Viên
苏易=Tô Dịch
陈雅=Trần Nhã
姬凤仙=Cơ Phụng Tiên
秦武=Tần Vũ
林霜=Lâm Sương
谢如兰=Tạ Như Lan
迪克=Dick
离恨烟=Ly Hận Yên
沧流箭=Thương Lưu Tiễn
离恨楼=Ly Hận Lâu
柳媚儿=Liễu Mị Nhi
萧婉蓉=Tiêu Uyển Dung
婉蓉=Uyển Dung
魏雪姻=Ngụy Tuyết Nhân
智酱=Tomo-chan
朱美=Akemi
仪玄=Yi Xuan
林柔=Lâm Nhu
夏侯荻=Hạ Hầu Địch
薛牧=Tiết Mục
薛清秋=Tiết Thanh Thu
岳小婵=Nhạc Tiểu Thiền
张梦兰=Trương Mộng Lan
刘婉兮=Lưu Uyển Hỉ
德川喇嘛=Tokugawa Lama
慕剑璃=Mộ Kiếm Ly
吉田靼鸡=Yoshida Tatsukei
萧轻芜=Tiêu Khinh Vũ
祝辰瑶=Chúc Thần Dao
德川羁霸=Tokugawa Kihaku
白夜莺=Bạch Dạ Oanh
孙雪莹=Tôn Tuyết Oánh
林雨欣=Lâm Vũ Hân
孙浩=Tôn Hạo
浩浩=Hạo Hạo
李婉宁=Lý Uyển Ninh
聂英楠=Nhiếp Anh Nam
红木=Hồng Mộc
孟秀兰=Mạnh Tú Lan
秦雅萱=Tần Nhã Huyên
李三通=Lý Tam Thông
柳艳=Liễu Diễm
秦雅卿=Tần Nhã Khanh
上官安妮=Thượng Quan An Ny
秦潇儿=Tần Tiêu Nhi
梦璃儿=Mộng Ly Nhi
肖风=Tiêu Phong
依依=Y Y
林娇霜=Lâm Kiều Sương
吴金贵=Ngô Kim Quý
苏凌薇=Tô Lăng Vi
大栓=Đại Xuyên
凌紫寒=Lăng Tử Hàn
谭韵=Đàm Vận
姬安=Cơ An
柳婉儿=Liễu Uyển Nhi
尼帕=Ni Khăn
净慧=Tịnh Tuệ
宁潇月=Ninh Tiêu Nguyệt
林玉芝=Lâm Ngọc Chi
宏谦=Hoành Khiêm
沈霁霁=Thẩm Tễ Tễ
陆轻筠=Lục Khinh Quân
柳明姝=Liễu Minh Xu
沈三万=Thẩm Tam Vạn
萧婉宁=Tiêu Uyển Ninh
雷坤=Lôi Khôn
龙盛=Long Thịnh
林墨=Lâm Mặc
云城=Vân thành
林小米=Lâm Tiểu Mễ
秦泽=Tần Trạch
王子衿=Vương Tử Câm
裴南曼=Bùi Nam Man
秦宝宝=Tần Bảo Bảo
苏钰=Tô Ngọc
宋中继=Tống Trung Kế
宋志龙=Tống Chí Long
裴紫琪=Bùi Tử Kỳ
陈清袁=Trần Thanh Viên
萧辰=Tiêu Thần
李姝蕊=Lý Xu Nhị
Z大=Z Đại
秦依雪=Tần Y Tuyết
秦镇海=Tần Trấn Hải
兰佩之=Lan Bội Chi
血观音=Huyết Quan Âm
裴云兮=Bùi Vân Hề
洛璃儿=Lạc Ly Nhi
李院花=Lý Viện Hoa
郭大金=Quách Đại Kim
姝蕊=Xu Nhị
柴郡=Cheshire
鞑鞑=Tatar
陈逸=Trần Dật
陈婷=Trần Đình
冯国强=Phùng Quốc Cường
冯晓雪=Phùng Hiểu Tuyết
白素贞=Bạch Tố Trinh
王志远=Vương Chí Viễn
周慧敏=Châu Huệ Mẫn
李婉君=Lý Uyển Quân
林建国=Lâm Kiến Quốc
苏婉清=Tô Uyển Thanh
何秀兰=Hà Tú Lan
周慧敏=Châu Huệ Mẫn
江美琪=Giang Mỹ Kỳ
许梦洁=Hứa Mộng Khiết
王雪柔=Vương Tuyết Nhu
萧姬=Tiêu Cơ
顾雪鸢=Cố Tuyết Diên
木珠宗=Mộc Châu Tông
马天龙=Mã Thiên Long
柳含韵=Liễu Hàm Vận
倾雪=Nghiêng Tuyết
张枫=Trương Phong
陈馨韵=Trần Hinh Vận
苏慧=Tô Tuệ
苏婉儿=Tô Uyển Nhi
婉儿=Uyển Nhi
苏先强=Tô Tiên Cường
温景然=Ôn Cảnh Nhiên
温景=Ôn Cảnh
王黑子=Vương Hắc Tử
苏清玄=Tô Thanh Huyền
木星芸=Mộc Tinh Vân
白霜林=Bạch Sương Lâm
白辉=Bạch Huy
伊万=Ivan
沈若兰=Thẩm Nhược Lan
若兰=Nhược Lan
方秀敏=Phương Tú Mẫn
秀敏=Tú Mẫn
沈谦=Thẩm Khiêm
方清蕊=Phương Thanh Nhị
卡巴=Kaba
沈晚宁=Thẩm Vãn Ninh
沈婉宁=Thẩm Uyển Ninh
穆萨=Musa
上官宁=Thượng Quan Ninh
宋星=Tống Tinh
林言=Lâm Ngôn
上官桃=Thượng Quan Đào
上官源=Thượng Quan Nguyên
苏涵=Tô Hàm
黄燚=Hoàng Diệc
秦天明=Tần Thiên Minh
柳清雪=Liễu Thanh Tuyết
秦雪裳=Tần Tuyết Thường
香香=Hương Hương
霜华=Sương Hoa
凌霜华=Lăng Sương Hoa
乌玄=Ô Huyền
柳如烟=Liễu Như Yên
浣熊市=Racoon City
里昂=Leon
雷德菲尔德=Redfield
白亦凡=Bạch Diệc Phàm
顾凌霜=Cố Lăng Sương
夏诗语=Hạ Thi Ngữ
吕狂=Lữ Cuồng
林婉清=Lâm Uyển Thanh
陈雅=Trần Nhã
李萌萌=Lý Manh Manh
蒋媛=Tưởng Viện
孙强=Tôn Mạnh
天翼集团=Thiên Dực tập đoàn
杨星=Dương Tinh
萧屹=Tiêu Ngật
秦瑾彤=Tần Cẩn Đồng
温雅岚=Ôn Nhã Lam
陆承玉=Lục Thừa Ngọc
黎夏=Lê Hạ
司徒曼琳=Tư Đồ Mạn Lâm
许诺=Hứa Nặc
周文斌=Chu Văn Bân
留云借风真君=Lưu Vân Tá Phong Chân Quân
Xianyun=Nhàn Vân
闲云=Xianyun
沈兰曦=Thẩm Lan Hi
兰曦=Lan Hi
杨伟=Dương Vĩ
莫恶=Mạc Ác
花弄影=Hoa Lộng Ảnh
刘晓丽=Lưu Hiểu Lệ
陈山虎=Trần Sơn Hổ
茜茜=Thiến Thiến
白秀珠=Bạch Tú Châu
周晓阳=Chu Hiểu Dương
白瑶=Bạch Dao
迈恩=Mayen
洛婷=Lạc Đình
李虎=Lý Hổ
宋绮=Tống Khỉ
林雅萍=Lâm Nhã Bình
孙腾=Tôn Đằng
赵明轩=Triệu Minh Hiên
吴艳娇=Ngô Diễm Kiều
楚月璃=Sở Nguyệt Ly
慕安=Mộ An
君怜妾=Quân Liên Thiếp
凤雪児=Phượng Tuyết Nhi
云澈=Vân Triệt
慕容千雪=Mộ Dung Thiên Tuyết
木蓝=Mộc Lam
风寒月=Phong Hàn Nguyệt
