.header {
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.header__title {
    text-align: center;
    width: 80vw;
    display: block;

}

.header__login {
    display: flex;
    position: relative;
    margin: auto;
    float: right;
    align-items: center;
}

.header__logo {
    padding: 0 24px;
}

.header__user {
    padding-right: 24px;
    align-items: center;
}